<style >
.game-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.game-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

    .game-column img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .game-column h3 a {
        color: #333; /* Default color for the links */
        text-decoration: none; /* No underline */
    }

        .game-column h3 a:hover {
            color: #017BFE; /* Change color on hover */
            text-decoration: underline; /* Add underline on hover */
        }

</style >
